replicaCount: 1

image:
  repository: postgres
  pullPolicy: IfNotPresent
  tag: "16"

service:
  port: 5432

volumes: []

volumeMounts:
  - name: data
    mountPath: /var/lib/postgresql/data

  - name: init
    mountPath: /docker-entrypoint-initdb.d/init.sql
